.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 100%;
}

.login > button {
  width: 300px;
  background-color: #738adb;
  color: #eff2f5;
  font-weight: 800;
  margin-bottom: 20px;
}

.login > button:hover {
  background-color: white;
  color: #738adb;
  border: 1px solid #738adb;
}

.login > img {
  margin-bottom: 50px;
  object-fit: contain;
  height: 100px;
}
