.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.25;
  background-color: #2f3135;
  height: 100vh;
}

.sidebar_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #2f3135;
  color: white;
  border-bottom: 3px solid #26282c;
}

.sidebar_channels {
  flex: 1;
}

.sidebar_addChannel {
  cursor: pointer;
}

.sidebar_addChannel:hover {
  color: white;
}

.sidebar_channelsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #2f3135;
  color: gray;
}

.sidebar_header {
  display: flex;
  align-items: center;
}

.sidebar_signout_button {
  cursor: pointer;
}

@media only screen and (max-width: 508px) {
  .sidebar {
    flex: 1;
  }
  .sidebar_addChannel {
    padding-right: 10px;
  }
}
